body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.material-icons.ticlock-function-icons{
  font-size: 100px;
  cursor: pointer;
}

.material-icons-outlined.ticlock-function-icons{
  font-size: 100px;
  cursor: pointer;
}